<%- include("../layoutsAdmin/header.ejs") %>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" id="loginForm">
                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                        <input id="email" class="input100" type="email" name="email" placeholder="Email" required value="admin@gmail.com">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input id="password" class="input100" type="password" name="pass" placeholder="Password" required value="1Rncfjura9">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <div id="message" class="text-center m-t-32" style="color: red;"></div>
                </form>
            </div>
        </div>
    </div>
<%- include("../layoutsAdmin/footer.ejs") %>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        event.stopPropagation();

        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        try {
            var response = await fetch('/admin/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email: email, password: password })
            });

            var result = await response.json();
            var messageLabel = document.getElementById('message');

            if (response.status === 200) {
                messageLabel.textContent = '';
                window.location.href = '/admin/dashboard';
            } else {
                messageLabel.textContent = result.message;
            }
        } catch (error) {
            document.getElementById('message').textContent = 'Internal server error';
        }
    });
</script>
